
<%- include("partials/header.ejs") %>

<div class="mymain">

    <div >

        <form action="/random" id="f1" method="post">
            <div class="row myselect">
                <div class="col-lg-6">
                    <select  id="s1" onchange="actionurl()">
            
                        <option value="/random" >Random</option>
                        <option value="/name" >Name</option>
                        <option value="/fl" >First Letter</option>
                        <option value="/cat" >Category</option>
                        <option value="/ing" >Ingrediant</option>
                        <option value="/area" >Area</option>
                
                    </select>
                </div>

                <div style="display:none" id="ds2" class="col-lg-3">

                    <select class="js-example-basic-single" id="s2" name="sc">
                    </select>
                
                </div>

                <div style="display:none" id="tf" class="col-lg-3">

                    Enter :<input type="text" name="t1" oninput="sorryRadhaKrishn(event)">

                </div>

                <div class="col-lg-3" id="mysub">

                    <input type="submit">

                </div>    

            </div>
        </form>

    </div>

    <%  if(locals.foods) 
        { 
            var m=foods;
            for(var sm of m) 
            {%>
                <div onclick="toRecipe('<%=sm.idMeal%>')">
                    
                        
                        <div> <%=sm.strMeal%> </div>
                        <div> <img src="<%=sm.strMealThumb%>" alt="" height="100px" width="100px"> </div>
                        <div> <p>Category:<%=sm.strCategory%> <br> Area:<%=sm.strArea%></p> </div>        
                    

                </div>

    <% }}%>

</div>

<%- include("partials/footer.ejs") %>

<script src="js/main.js"></script>

